* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product-title {
  padding: 15px;
  font-size: 26px;
  background-color: #f7f7f7;
  text-align: center;
}

.product-sale {
  background-color: #ec2f2f;
  color: #fff;
  padding: 10px 20px;
  letter-spacing: 1px;
  font-weight: bold;
  position: absolute;
  top: -20px;
  left: -50px;
}

.product-price {
  font-size: 24px;
  font-style: bold;
}

.product-shipping {
  font-size: 14px;
  color: gray;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-more-info:link,
.product-more-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}

.product-more-info:hover,
.product-more-info:active {
  text-decoration: none;
}

.product-color {
  background-color: #000;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  display: inline-block;
}

.product-color-blue {
  background-color: #2f6ee2;
}

.product-color-red {
  background-color: #ec2f2f;
}

.product-color-yellow {
  background-color: #f0bf1e;
}

.product-color-green {
  background-color: #90cc20;
}

.product-color-brown {
  background-color: #885214;
}

.product .product-details {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 15px;
}

.product-details,
.product-voucher,
.product-add-to-cart {
  text-transform: uppercase;
}

.product-details-list {
  list-style: square;
  padding-left: 20px;
  margin-bottom: 10px;
}

.product-details-list li {
  line-height: 1.5;
}

.product-add-to-cart {
  border: none;
  padding: 10px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  width: 100%;
}

.product-add-to-cart:hover {
  background-color: #fff;
  border-top: 4px solid black;
  color: #000;
  cursor: pointer;
}
